#grid ol {
	margin: 0px;
	padding: 0px;
}
#grid {
	display: grid;
	grid-template-columns: 150px 1fr;
}
#active {
	color: red;
}
*{
	background-color:black;
	color:white;
}
h1 {
	text-align: center;
	font-size: 45px;
	border-bottom: white solid 1px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 10px;
	padding-top: 15px;
}
a,
#logo {
	color: white;
	text-decoration: none;
}
body {
	margin: 30px;
}
.sublogo {
	border-bottom: white solid 1px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 16px;
}
.nav {
	margin-top: 0px;
	padding: 20px;
	padding-left: 30px;
	padding-right: 10px;
	border-right: white solid 1px;
	width: 100px;
}
.article {
	padding-left: 40px;
}
.saw {
	color: gray;
}